$tan: #B89F94;
$tanLight: #dec1b4;
$grey: #888a8e;
$black: #212126;


a img {

  margin-left: 9px;
  width: 80px;
  padding-bottom: 11px;
}

@media screen and (min-width: 1280px){
  a img {
    width: 100px;
  }
}

.mat-toolbar{
  position: relative;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 5px 15px -3px rgba(184,159,148,0.60);
}
