<div>
  <mat-toolbar>
    <a href="">
      <img
        src="https://global-uploads.webflow.com/5f1a994364b3473c65835692/600594ffe545a748ec998147_20210118_Brumaire_texte-p-500.png">
    </a>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<div class="row m-0 p-0" style="text-align: center; font-size: 14px; color: #3a3a3f; padding-bottom: 20px!important; padding-top: 20px!important;">
  <div class="col-md-4" style="text-align: right"><a style="color: #3a3a3f; text-decoration: none; font-weight: normal" href="https://www.brumaire.co/conditions-generales-de-vente">CGV</a><br></div>
  <div class="col-md-4" style="text-align: center">© Brumaire 2021 - Tous droits réservés</div>
  <div class="col-md-4" style="text-align: left"><a style="color: #3a3a3f; text-decoration: none" href="https://www.brumaire.co/mentions-legales" class="link-3">Mentions légales</a><br></div>
</div>
