@import "src/app/app.component";

h1 {
  margin-top: 2vh;
  text-align: center;
  font-size: 30px;
}

h2 {
  text-align: center;
}


::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.mat-progress-bar {
  width: 60vw;
  margin: auto;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: $tan;
}

::ng-deep .mat-progress-bar-buffer {
  background: #eeeeee;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}

.mainVisualizer {
  margin: auto;
  margin-top: 2vh;
  width: 60vw;
  border-radius: 20px;
}

.description {
  width: 60vw;
  margin: auto;
  margin-top: 3vh;
  text-align: center;
}

.buttons {
  width: 60vw;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.leftButton {
  margin-right: 20px;
}

.btn-tan {
  background-color: $tan;
  width: 200px;
  height: 50px;
  color: white;
}
.btn-tan:focus {
  background-color: $tan!important;
}

@media screen and (max-width: 992px) {
  .mat-progress-bar {
    width: 90vw;
  }
  .buttons {
    width: 90vw;
  }

  .description {
    width: 90vw;
  }

  .mainVisualizer {
    display: block;
    height: 65vh;
    width: 90vw;
  }
  .btn-tan {
    width: 155px;
    font-size: 14px;
  }

}

@media screen and (min-width: 728px) and (max-width: 992px) {
  .btn-tan {
    width: 310px;
    font-size: 28px;
  }
  .description {
    font-size: 25px;
  }
  h2 {
    font-size: 35px;
  }
}

@media screen and  (max-width: 366px) {
  .btn-tan {
    width: 130px;
    font-size: 12px;
  }

}

.btn-tan:hover {
  background-color: $tanHover;
}
