@import "src/app/app.component";

h1 {
  margin-top: 2vh;
  text-align: center;
  font-size: 30px;
}
h2 {
  text-align: center;
}


::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.mat-progress-bar {
  width: 80vw;
  margin: auto;

}

::ng-deep .mat-progress-bar-fill::after {
  background-color: $tanLight;
}

::ng-deep .mat-progress-bar-buffer {
  background: $tan;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
