<div class="container">

  <div class="row" id="header" *ngIf="!question">
    <div>
      <h1>Service après-vente</h1>
      <h2>Vous avez une question ? Nous avons la réponse !</h2>
    </div>
  </div>
  <div class="row boxes" *ngIf="!question">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3 col-xxl-3 box" *ngFor="let category of categories">
      <mat-card (click)="question = category">
        <mat-card-header class="title">
          <mat-card-title>{{category.title}}</mat-card-title>
        </mat-card-header>
        <img class="boxImage" mat-card-image src="{{category.imageUrl}}" alt="{{category.title}}">
        </mat-card>
    </div>
  </div>

  <app-question-item *ngIf="question" [item]="question"></app-question-item>
</div>
