<div>
  <mat-toolbar color="primary"  id="toggler">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon id="menu">menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container  class="example-container">
    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="side" opened="true" fxHide.gt-sm="true">
      <div fxLayout="column">
        <mat-accordion>

          <mat-expansion-panel *ngFor="let category of categories">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{category.title}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let item of category.items; let index = index">
              <p>{{item.title}}</p>
              <mat-divider *ngIf="index !== categories.length-1"></mat-divider>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
