@import "src/app/app.component";
.container {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0;
  padding: 0;
}

#header {
  width: 100%;
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: linear-gradient(180deg,rgba(0,0,0,.52),rgba(0,0,0,.52)),
  url("https://global-uploads.webflow.com/5f1a994364b3473c65835692/604a98fdbce5699c3c294f43_rDSC09747_beige_low.jpg");
  background-position: 0 0,100% 100%;
  background-size: auto,contain;
  background-repeat: repeat,no-repeat;
  background-attachment: scroll,fixed;
  color: #fff;
  font-style: normal;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 60px;
}

.containerTitle{
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
}

.mat-list-option{
  margin: auto;
  width: 65vw !important;
  color: white;
  background-color: $tan;
  margin-top: 2vh;
  border-radius: 5px;
}
.eventOption {
  background-color: $grey;
}
.mat-list-option:hover {
  box-shadow: 5px 5px 15px -1px  $grey;
}


.eventOption:hover {
  box-shadow: 5px 5px 15px -1px  $tan !important;
}
.leftLabel{
  display: inline-block;
  text-align: left;
  width: 49%;
  margin: 0;
  padding: 0;
}

.rightLabel{
  display: inline-block;
  text-align: right;
  width: 49%;
  margin: 0;
  padding: 0;
}
