<div class="container">

  <div class="row" id="header">
    <div>
      <h1>{{category.title}}</h1>
    </div>
  </div>

  <div class="row m-0 p-0">
    <h2 class="containerTitle">Choisissez votre rubrique</h2>
    <mat-selection-list #item [multiple]="false">

      <!-- since its a POC, we only let the first item available to consult, more to come later in a paid DLC -->
      <mat-list-option *ngFor="let item of category.items; let index = index" [value]="item" [ngClass]="index%2 == 1 ? 'eventOption' : ''"
        (click)="selectQuestion(item.id)" [disabled]="getIsNotWorkingAnimation(item.id)"
      >
        <div>
          <p class="leftLabel">
            {{item.title}}

          </p>
          <fa-icon class="leftIcon" [icon]="chevronRight"></fa-icon>

          <p class="rightLabel">
            Commencer
            <fa-icon [icon]="chevronRight"></fa-icon>
          </p>
        </div>

      </mat-list-option>
    </mat-selection-list>
  </div>
</div>
